@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'NanumSquareRound';
    font-size: 1.0rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
a {
    color: #383838;
}
a:hover {
    color: #383838;    
}
.custom-common-delete-btn {
    border-radius: 10px;
    height: 40px;
    background-color: #ffb59a;
    width: 80px;
    /* box-shadow: inset 0 0 3px 3px rgb(255 0 0 / 10%); */
}
.admin-custom-btn {
    outline: none;
    border: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    padding: 0.3rem 0.85rem;
    text-align: center;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.admin-custom-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.common-delete-btn:hover {
    background-color: rgb(249, 68, 68);
}
.custom-common-btn {
    border: 0.3px solid rgb(212, 212, 212);
    border-radius: 10px;
    height: 40px;
    background-color: #ffffff;
    width: 100px;
    cursor: pointer;
    color: #000;
    line-height: 31px;
}


/* admin 접속 전 로그인 화면 */
.adminlogin-maindiv {
    display: flex;
    width: 100vw;
    align-items: center;
}
.adminlogin-form {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 500px;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
}

/* 콘텐츠 관리 페이지 테이블 */
.contentsmanagement-board-btn-zone {
    display: grid;
    grid-template-columns: 250px 30px 250px 105px 105px;
    /* float: right; */
    margin-bottom: 10px;
    position: absolute;
    right: 150px;
    justify-items: center;
    align-items: center;
}
.contentsmanagement-board-btn-zone2 {
    display: grid;
    grid-template-columns: 250px 30px 250px 105px 105px;
    /* float: right; */
    margin-bottom: 10px;
    position: absolute;
    right: 150px;
    justify-items: center;
    align-items: center;
}
.contentsmanagement-board-btn-zone3 {
    display: grid;
    margin-bottom: 10px;
    position: absolute;
    right: 150px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.contentsmanagement-board-btn-zone4 {
    display: grid;
    grid-template-columns: 250px 30px 250px 110px 110px 105px;
    /* float: right; */
    margin-bottom: 10px;
    position: absolute;
    right: 150px;
    justify-items: center;
    align-items: center;
}
.contentsmanagement-select-btn-zone {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}
.contentsmanagement-select-btn-gridzone {
    display: grid;
    margin-bottom: 10px;
    margin-top: 30px;
    grid-template-columns: 80% 1fr 1fr;
    grid-gap: 10px;
    align-items: end;
}
.contesmanagement-tr {
    background-color: rgb(75, 75, 75);
    color: aliceblue;
}
.contents-tab-btn {
    background: #50545a;
    width: 300px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.contents-tab-board-btn:hover, .contents-tab-comments-btn:hover {
    background-color: #ffe5dc;
    color: #212222;
}
.contents-tab-board-btn, .contents-tab-comments-btn {
    padding: 20px;
    color: #e4e4e4;
}
/* SECTION - start-date / end-date */
/* .start-date {

} */
.boardsearch-calendar select {
	margin-left : 7px;
}
.boardsearch-calendar select:first-child {
	margin-left : 0px;
}
.boardsearch-calendar select {
	height: 40px;
	box-sizing: border-box;
	margin-left: 5px;
	padding: 5px 0 5px 10px;
	border-radius: 4px;
	border: 1px solid #d9d6d6;
	color: #383838;
	background-color: #ffffff;
}
.start-date option {
	font-size: 16px;
}
.start-date option {
	font-size: 14px;
	background-color: #ffffff;
}
.contentsmanagement-search-align {
    position: absolute;
}
.contentsmanagement-search-align div {
    width: 100px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.contentsmanagement-search-align div:hover {
    background: #ececec;
}

.tab-active {
    background-color: #ffe5dc;
    color: #212222;
}

.index_bc_gray {
    background-color: rgb(75, 75, 75);
    color: #fff;
}


/* 페이지네이션 */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 
.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 0px;
    text-decoration: none;
    cursor: pointer;
    
}
.page_pre{
    width: 59px;
    text-align: center;
}
.pagination a:hover,
.pagination span:hover {
     /* 호버 시 배경색 변경 */
    color: #FF9900; /* 호버 시 글자색 변경 (예시로 검은색으로 지정) */
}
.pagination-current{
    color:rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FF9900;
    font-weight: 900;
    margin-right: 5px;
    text-align: center;
}
.pagination-link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e4e4e4;
    margin-right: 5px;
    text-align: center;
}



/* 기존 템플릿 css 수정 */
.sidebar-link, a.sidebar-link {
    color: white;
}
.sidebar-link, a.sidebar-link:hover {
    background-color: #b8d8ff;
    color: rgb(53, 44, 57);
}
.navbar-expand .navbar-collapse {
    justify-content: flex-end;
}
.navbar-select-class {
    background-color: #b8d8ff;
    color: rgb(53, 44, 57);
}

.genderList {    
    font-weight: 900;
    text-align: right;
}

.index-container {
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 50px;
}

/* display none */
.admin-display-none {
    display: none;
}

.admin-index-ps {
    display: flex;
    justify-content: space-between;
}

.button-box {
    text-align: right;
}

.insert-hashtag-input {
    height: 35px;
}

.pandemic-name {
    width: 14%;
}

.pandemic-symptom {
    width: 40%;
}

.pandemic-name1 {
    width: 13%;
}

.pandemic-symptom1 {
    width: 32%;
}

.pandemic-symptom2 {
    width: 25%;
}

.pandemic-border-bottom {
    border-bottom: 1px solid #000;
}

.pandemic-border-bottom1 {
    height: 48.5px;
    color: #fff;
    background-color: rgb(75, 75, 75);
}

.insert-pandemic-input1 {
    width: 150px;
    height: 35px;
}

.insert-pandemic-input2 {
    width: 300px;
    height: 35px;
}

.pandemic_box {
    display: inline-block;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 900;
}

.pandemic_insert_box {
    display: inline-block;
}

.button-box1 {
    display: flex;
    justify-content: space-between;
}

.admin-index-ps-mini {
    display: flex;
    justify-content: space-between;
}

.custom-common-delete-btn1 {
    border-radius: 10px;
    height: 40px;
    background-color: #d7d7d7;
    width: 145px;
    margin-right: 20px;
}

.custom-common-delete-btn2 {
    border-radius: 5px;
    height: 52px;
    background-color: #d7d7d7;
    width: 115px;
    margin-right: 20px;
    font-size: 1.2rem;
}

.admin-regist-modal {
    width: 40vw;
    height: 60vh;
    position: fixed;
    z-index: 9999;
    background: #222e3c;
    top: 160px;
    left: 690px;
    color: #fff;
}

.admin-box {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.admin-regist-name {
    font-size: 1.4rem;
    font-weight: 900;
}

.admin-modal-down {
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.admin-regist-box2 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.admin-id {
    font-size: 1.3rem;
}

.admin-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.admin-regist-button-box {
    text-align: right;
}

.hashtagBox {
    width: 100%;
}

.hashtagnsbox {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.hashtag-margin-right {
    margin-right: -13px;
}

.pandemic-name11 {
    width: 14%;
}

.pandemic-symptom11 {
    width: 25%;
}

.ps-width {
    width: 100%;
}

.index_cnt {
    text-align: right;
    width: 20%;
}

.index_display_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.index-font-color-red {
    margin-left: 10px;
    color: red;
}

.index-font-color-blue {
    margin-left: 10px;
    color: blue;
}

.card-header {
    border-color: #dee2e6;
}

.age_box {
    display: inline-block;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 900;
}

.age_box_width {
    width: 400px;
}

.age_box_width2 {
    width: 900px;
}

.psmodaldisplaynone {
    display: none;
}

.index_rank {
    width: 30%;
}

.index_ps {
    width: 40%;
}

#psModal1, #psModal2, #psModal3, #psModal4 {
    cursor: pointer;
    background-color: #fff;
}


/* 관리자페이지 로그인 */
@media only screen and (max-width: 1000px) {
    .adminlogin-form {
        display: flex;
        width: 90%;
        margin: 0 auto;
        height: 500px;
        flex-direction: column;
        justify-content: center;
    }
}