* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
    flex: 1; /* wrapper가 남은 공간을 모두 차지하도록 설정 */
}

/* -------- lastboard -------- */

.last_main{
    width: 70vW;
    margin: 10px auto;
}
.last_main a .last_container:hover, .last_main a .last_container:focus {
    background-color: rgba(255, 209, 177, 0.6);
}
.last_container {
    
    margin: 10px;
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 5px;
    
}
.last_container2 {
    margin: 10px;
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 5px;
}

.last_user{
    display: grid;
    grid-template-columns:60px 1fr;    
    margin: 10px;
    align-items: center;
}
.last-board-title {
    font-size: 2rem;
    font-weight: 800;
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-block;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.detail_board_hits{
    font-size: 1rem;
    font-weight: normal;
}
.last-board-title p {
    display: inline-block;
}
.last-board-detail {
    grid-column-start: 1;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-start: 3;
}
.last_title {
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
.last_content{
    border: 1px solid rgba(128, 128, 128, 0.228);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.last_headline{
    height: 50px;
    line-height: 50px;
}
.btn_last{
    height: 30px;
    align-self: center;
} 
textarea{
    vertical-align: top;
    resize: none;
    padding: 20px;
}
.comment_content{
    width: 89%;  
    height: 80px;  
}

.board_nic_img{
    width: 48px;
    height: 48px;
}
.board_nic_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.board_nic_text .user-nickname {
    font-size: 1.0rem;
    font-weight: 800;
    color: #c3590d;
    align-self: flex-start;
}
.board_nic_text_a {
    font-weight: 800;
    font-size: 1rem;
    color: #c3590d;
    margin-left: -7px;
}
.detail-comments-flex {
    display: flex;
    align-items: center;
    color: #848484;
    font-size: 0.8rem;
}
.detail-comments-flex span {
    margin-right: 5px;
}
.detail-comment-area {
    width: 90%;
    margin: 15px 0 15px 30px;
}
.community_icon_comment {
    border-radius: 20%;
    background-color: #ff9950;
    width: 40px;
    height: 40px;
}
.delete-comment-btn {
    font-size: 1.3rem;
    padding: 3px 5px;
    background-color: white;
    border-radius: 20%;
}
.delete-comment-btn:hover {
    background-color: rgb(212, 212, 212);
}

/* -------- detail board -------- */

.detail_container{
    border-radius: 10px;
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 5px;
    margin: 25px 0px ;
}


.detail_hidden_container{
    margin: 20px;
}

.d_btn{
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
    
}
.a_cancel{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
    float: right;
}

.a_update {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
}
.detail_board_content{
    width: 15%;
}
.detail-hashtag {
    margin-left: 10px;
}
.detail-hashtag > span{
    border-radius: 5px;
    padding: 3px 7px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    display: inline-block;
}





.detail_content{
    border: 2px solid rgba(128, 128, 128, 0.230);
    min-height: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 20px 0;
    padding-left: 15px;
}
.detail_content img{
    width: 100%;
    height: auto;    
}
.detail_comment ul li{
    border-bottom: 1px solid black;
}
.comment_bottom{
    border-bottom: 1px solid black;
}
.detail_comment_insert{
    margin: 25px 0;
}
.detail_comment_insert_complete{
    font-size: 1.2rem;
    height: 80px;
    width: 9%;
    border: 1px solid black;
    background-color: #e0e0e0;
    border-radius: 5px;
    min-width: 60px;
}
li{
    list-style-type: none;
}
.detail_comment ul {
    background-color: #F9F9F9;
}

/* -------- insert board -------- */

.insert_main{
    width: 70vW;
    margin: 10px auto;      
    background-color: rgba(128, 128, 128, 0.369) ;
}
.insert_hidden_container{
    margin: 10px;
}
.detail_form {
    margin-bottom: 20px;
}
.insert_container{
    width: 60vw;    
    margin: 20px auto;  
    border-radius: 5px; 
    background-color: white;
    border: 0.5px solid #c5c5c5;
}
.insert_img {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: auto;   
    display: flex;
    justify-content: space-around;
}
.insert_img img{    
    width: 100%;
    height: auto; 
    cursor: pointer;
    
}

.insert_select_container{
    margin: 10px auto;
    padding: 10px;
    width:90%;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.230) ;
}
.insert_select{
    border: none;
    background-color: rgba(128, 128, 128, 0) ;
}
 .insert_input_container,.insert_textarea_container{
    margin: 10px auto;
    padding: 10px;
    width:90%;    
}
.insert_input{
    width:100%;   
    min-height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    
}
.insert_textarea{
    width:100%;
    min-height: 300px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.369);
}
.insert_hashtag_container{
    margin: 10px auto;
    padding: 10px;
    width:90%;    
}
.tag {
    cursor: pointer;
}
.tag{
    border-radius: 5px;
    padding: 3px 7px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    display: inline-block;
}
.selected-tag {
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 3px 7px;
    margin-bottom: 5px;
    display: inline-block;
}
.tag:hover {
    background-color: #ffa869;
}
.insert_hashtag{
    width:100%;  
    min-height: 30px;  
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    padding: 10px;
    margin-bottom: 12px;
}
.insert_bottom_button{
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(2,90px);
    grid-gap: 8px;
    margin: 0px auto;
    width: 70%;
    height: 40px;
}
.insert_btn{
    border: 1px solid rgba(128, 128, 128, 0.369);
    width: 100%;
    margin: 0 10px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
}
.insert_btn:hover{
    background-color: #ff9950;
}
.label_hashtag{
    color: rgba(128, 128, 128, 0.369) ;
}
/* ---------커뮤니티------------------ */
.slider-container {    
    margin: 30px auto;
    width: 70vW;   
}

.community_headline{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}

.slider {    
    margin: 20px ;    
    /* transition: transform 2s ease-in-out;  */
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 
    gap: 15px;
}

.slide {
    padding: 20px;
    min-width: 240px;       
    border: 1px solid #848484;
    border-radius: 20px;
    margin: 6.5px;
    scroll-snap-align: start;
    height: 270px;
    box-shadow: 0px 3px 5px 3px rgba(196, 196, 196, 0.6);
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 200px 30px;
    align-content: space-between;
}
.hot-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.hot-content {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.hot-info {
    color: #9a9a9a;
}

.slider::-webkit-scrollbar {
    margin-top: 50px;
}

.slider::-webkit-scrollbar-thumb {
    background: rgb(255, 186, 152); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
    background-clip: padding-box;
    border: 2px solid transparent;
}

.slider::-webkit-scrollbar-track {
    background: rgba(191, 189, 188, 0.1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.favorite_slider-container::-webkit-scrollbar {
    margin-top: 50px;
}

.favorite_slider-container::-webkit-scrollbar-thumb {
    background: rgb(255, 186, 152); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
    background-clip: padding-box;
    border: 2px solid transparent;
}

.favorite_slider-container::-webkit-scrollbar-track {
    background: rgba(191, 189, 188, 0.1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}
.community-home-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 10px 10px 5px 10px;
}
.community-home-content {
    margin: 0 10px 6px 10px;
    overflow: hidden;
    max-height: 60px;
}

.favorite_slider-container {
    margin: 30px auto;
    width: 60vW;   
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    margin-bottom: 50px;
}
.favorite_slider {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.favorite_slide {
    min-width: 48%;       
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    margin: 13px;    
    background-color: rgba(255, 153, 0, 0.2);
    padding: 10px;
}

.favoriteboard-favorite-tag {
    display: inline-block;
    background-color: #FFF0E6;
    margin: 20px 0 5px 0;
    border-radius: 20%;
    font-size: 0.9rem;
}
/* .slider-container::-webkit-scrollbar {
    width: 12px; 
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; 
    border-radius: 6px; 
}

.slider-container::-webkit-scrollbar-track {
    background-color: #f6f6f6; 
} */
/* .favorite_slider-container::-webkit-scrollbar {
    width: 12px; 
}

.favorite_slider-container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; 
    border-radius: 6px; 
}

.favorite_slider-container::-webkit-scrollbar-track {
    background-color: #f6f6f6; 
} */

.favorite_slide .favorite_slide-name {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.community-category-title {
    font-size: 1.1rem;
    font-weight: 800;
}
.community_pandemic_content{    
    margin: 10px auto;
    /* padding: 10px; */
    text-overflow: ellipsis;
    overflow: hidden;  
    display: -webkit-box;   
    -webkit-line-clamp: 6;  
    -webkit-box-orient: vertical;
    max-height: 6em;      
    white-space: normal;
    margin: auto 20px;
}
.community_bottom{
    display: flex;
    justify-content: space-between;          
}

.community_tag_hidden{
    margin-bottom:50px ;
    width: 100vw;
}

.board-bc-gray {
    background-color: #efefef;
}

.community_tag_container{
    width: 60vw;
    margin: 0 auto;
    padding: 30px;
}
.community-favorite-show {
    margin: 20px;
}

.community_tag {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));    
    grid-gap: 20px;
    margin-bottom: 15px;
}
.community_tag > a {
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    width:100%;   
    text-overflow: ellipsis;
    overflow: hidden;  
    display: -webkit-box;   
    -webkit-line-clamp: 6;  
    -webkit-box-orient: vertical;
    white-space: normal;  
    background-color: #fff;
    height: 150px;
    border: 2px solid #E8E8E8;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 100px 30px;
    
}
.community_tag > a > div > span {
    background-color: #fff0e6;
    /* padding: 5px 10px; */
    margin: 5px 0;
    border-radius: 20%;
    font-size: 0.9rem;
}
.community-fav-board-tag {
    margin-left: 10px;
    height: 20px;
    overflow: hidden;
}
.bordergo-hover a:hover {
    background-color:  rgba(255, 153, 80, 0.6);
}

a .a-bordergo-hover:hover {
    background-color:  rgba(255, 153, 80, 0.6);
}

.border-line-color-gray > a {
    border: 1px solid #d0d0d0;;
}

.community_more_container{
    text-align: center;
    margin-bottom: 30px;
}
.community_more {
    
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ff9950;
    width: 100px;
    height: 40px;
}
.community_icon{
    border-radius: 50%;
    background-color: #ff9950;
    width: 50px;
    height: 50px;
}
.community_a{
    position: fixed;
    bottom: 130px;
    right: 20px;
    background-color: #ff9950;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;            
}

.favorite-tag-board-in {
    background-color: #FFF0E6;
    margin: 5px 0;
    border-radius: 20%;
}

.community_aplus{
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #ff9950;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;            
}
.cate_btn_go {
    border: 1px solid rgba(128, 128, 128, 0.369);   
    width: 100px;
    margin: 0 10px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    line-height: 50px;
}
.dropdown {
    display: inline-block;
    position: relative;
} 

.category_font_hover:hover {
    font-weight: 900;
    color: #FF9900;
}

.cate_btn:hover {
    font-weight: 900;
    color: #FF9900;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 210px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0.1px;
    top: 30px;
} 

.cate_btn {
    cursor: pointer;
}

 .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

.cate_btn_go:hover {
    background-color: #FF9900;
}

.dropdown-content div:hover {
    background-color: #FF9900;
}

.show {
    display: block;
}

#preview1,#preview0,#preview2 {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경을 어둡게 만들어줌 */
}

.detail_form-flex {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 300px;
    text-align: center;
    line-height: 100px;
}

/* 확인, 취소 버튼 스타일 (예시에 맞게 수정 가능) */
#confirmDelete,
#cancelDelete {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#cancelDelete {
    background-color: #f44336;
    margin-left: 10px;
}
.commentDeleteBtn {
    cursor: pointer;
}

.board-mouse-cursor {
    cursor: pointer;
}

.confirmCommentDeleteModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.confirmCommentDeleteModal button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.confirmCommentDeleteModal button.confirm {
    background-color: #ff9950;
    color: white;
    border: none;
}

.confirmCommentDeleteModal button.cancel {
    background-color: #ccc;
    color: white;
    border: none;
}

@media only screen and (min-width: 1050px) {
    .community_icon {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1450px) {
    .community_tag {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        grid-gap: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .slider-container {
        width: 80vw;        
    }
    .favorite_slider-container{
        width: 80vw;
    }   
    .community_tag_container{
        width: 80vw;
        margin: 0 auto;
    }
    .insert_container {
        width: 80vw;        
    }
    .insert_main{
        width: 90vw;
    }
    .detail_form{
        margin-bottom: 15px;
    }
    .last_container {
        width: 80vw;
    }
    .last_container2 {
        width: 85vw;
    }
    .last_main{
        width: 85vw;
    }
    .favorite_slider {
        display: flex;   
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        flex-direction: column;
    }
}

@media only screen and (max-width: 950px) {
    .community_tag {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        grid-gap: 15px;
    }
    .detail_comment_insert form {
        max-width: 100%;
    }
    .comment_content {
        width: 98%;
        height: 80px;
    }
    .detail_comment_insert form {
        display: grid;
        grid-template-columns: 1fr 60px;
    }

}
@media only screen and (max-width: 850px) {
    .slider-container {
        width: 100vw;        
    }
    .favorite_slider-container{
        width: 90vw;
    }   
    .community_tag_container{
        width: 100vw;
        margin: 0 auto;
    }
    .last-board-title {
        font-size: 1.4rem;
    }
    .detail_board_content{
        width: 50%;
    }
    .board_nic_text {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .board_nic_text div {
        font-size: 0.85rem;
        align-self: flex-end;
        margin-top: 3px;
    }
    .last_user {
        margin-top: 5px;
        align-items: start;
    }
    .last_user .community_icon {
        margin-top: 5px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 



.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 12px;
    
    text-decoration: none;
   
}
.pagination a:hover,
.pagination span:hover {
     /* 호버 시 배경색 변경 */
    color: #f44336; /* 호버 시 글자색 변경 (예시로 검은색으로 지정) */
}
.pagination-current{
    color:red;
    
}

