* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------- lastboard -------- */

.last_main{
    width: 70vW;
    margin: 0 auto;
}
.last_container{
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 5px;
    margin: 10px;
}
.last_user{
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns:100px 1fr;    
    margin: 10px;
}
.last_content{
    border: 1px solid rgba(128, 128, 128, 0.228);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.last_headline{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.btn_last{
    height: 30px;
    align-self: center;
} 
textarea{
    vertical-align: top;
    resize: none;
    cursor: text;    
}
#comment{
    width: 89%;  
    height: 50px;  
}

.board_nic_img{

    width: 48px;
    height: 48px;
}
.board_nic_text{
    display: flex;
    justify-content: space-between;
}

/* -------- detail board -------- */

.detail_container{
    
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 5px;
    margin: 25px 0px ;
}
.detail_hidden_container{
    padding: 20px;
    margin: 20px;
}
.detail_bottom_button{
    display: grid;
    justify-content: end;    
}
.d_btn{
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 70px;
    border-radius: 5px;
    background-color: white;
}
.detail_content{
    border: 2px solid rgba(128, 128, 128, 0.230);
}
.detail_content img{
    width: 100%;
    height: auto;
    /* display: inline-block; */
}
.detail_comment ul li{
    margin: 20px 0;
    border-bottom: 1px solid black;
}
.comment_bottom{
    border-bottom: 1px solid black;
}
.detail_comment_insert{
    margin: 25px 0;
}
.detail_comment_insert_complete{
    height: 50px;
    width: 9%;
}
li{
    list-style-type: none;
}

/* -------- insert board -------- */

.insert_main{
    width: 70vW;
    margin: 10px auto;    
    background-color: rgba(128, 128, 128, 0.369) ;
}
.insert_hidden_container{
    margin: 10px;
    padding:10px;
}
.insert_container{
    width: 80%;
    height: 80%;
    margin: 20px auto;  
    border-radius: 5px; 
    background-color: white;
    border: 0.5px solid #c5c5c5;
}
.insert_img {    
    margin: 0px auto;
    width: 50%;
    height: auto;  
    display: grid;
    grid-gap: 5px; 
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
	gap: 1rem;    
}
.insert_img img{    
    width: 100%;
    height: auto; 
    grid-gap: 5px;   
}

.insert_select_container{
    margin: 10px auto;
    padding: 10px;
    width:70%;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.230) ;
}
.insert_select{
    border: none;
    background-color: rgba(128, 128, 128, 0) ;
}
 .insert_input_container,.insert_textarea_container{
    margin: 10px auto;
    padding: 10px;
    width:70%;    
}
.insert_input{
    width:100%;   
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.369);
}
.insert_textarea{
    width:100%;
    min-height: 300px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.369);
}
.insert_hashtag_container{
    margin: 10px auto;
    padding: 10px;
    width:70%;    
}
.insert_hashtag{
    width:100%;  
    min-height: 30px;  
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    color: rgba(128, 128, 128, 0.369) ;
}
.insert_bottom_button{
   display: grid;     
   justify-content: end;      
   grid-template-columns: repeat(2,70px);
   grid-gap: 50px;  
   margin: 0px auto;
   width: 70%; 
   
}
.insert_btn{
    border: 1px solid rgba(128, 128, 128, 0.369);   
    width: 70px;
    margin: 0 10px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
}
.insert_btn:hover{
    background-color: #ff9950;
}

