* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
    flex: 1; /* wrapper가 남은 공간을 모두 차지하도록 설정 */
}

/* -------- lastboard -------- */

.last_main{
    min-height: 66vh;
    width: 70vw;
    margin: 10px auto;
}
.last_main a .last_container:hover, .last_main a .last_container:focus {
    background-color: #fdf9f3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.last_container {
    
    margin: 10px;
    border: 1px solid rgb(57 57 57 / 50%);
    border-radius: 5px;
    
}
.last_container2 {
    margin: 10px;
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 5px;
}

.last_user{
    display: grid;
    grid-template-columns:60px 1fr;    
    margin: 10px;
    align-items: center;
}
.last-board-title {
    font-size: 2rem;
    font-weight: 800;
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-block;
    margin: 5px 0 15px 10px;
    display: flex;
    justify-content: space-between;
}
.detail_board_hits{
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}
.last-board-title p {
    display: inline-block;
}
.last-board-detail {
    grid-column-start: 1;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-start: 3;
}
.last_title {
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
.last_content{
    border: 1px solid rgba(128, 128, 128, 0.228);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.last_headline{
    height: 50px;
    line-height: 50px;
}
.btn_last{
    height: 30px;
    align-self: center;
} 
textarea{
    vertical-align: top;
    resize: none;
    padding: 20px;
}
.comment_content{
    width: 89%;
}
.comment_content:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: #FFF8DC;
}
.comment_report_stance{
    text-align: right;
}

.board_nic_img{
    width: 48px;
    height: 48px;
}
.board_nic_text .user-nickname {
    font-size: 1.0rem;
    font-weight: 800;
    color: #c3590d;
    align-self: flex-start;
}
.board_nic_text_a {
    font-weight: 800;
    font-size: 1rem;
    color: #c3590d;
    margin-left: -7px;
}

.detail-comments-flex span {
    margin-right: 5px;
}
.detail-comment-area {
    width: 90%;
    margin: 15px 0 15px 30px;
}
.community_icon_comment {
    border-radius: 20%;
    background-color: #ff9950;
    width: 40px;
    height: 40px;
}
.delete-comment-btn {
    font-size: 1.3rem;
    padding: 3px 5px;
    background-color: white;
    border-radius: 20%;
}
.delete-comment-btn:hover {
    background-color: rgb(255, 226, 163);
}

/* -------- detail board -------- */

.detail_container{
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    margin: 25px 0px 10px 0px;
    padding: 10px;
}




.d_btn{
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
    
}
.a_cancel{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
    float: right;
}
.a_cancel:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.a_update {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.369);
    margin: 0px 10px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
}
.detail_board_content{
    width: 15%;
}
.detail_board_content_img{
    width:100%;
}

#preview0,#preview1,#preview2,#preview3,#preview4,#preview5,#preview6,#preview7,#preview8,#preview9{
    width: 100%;
}
.detail-hashtag {
    margin: 0 0 10px 20px;
}
.detail-hashtag > span{
    border-radius: 5px;
    padding: 7px 7px 3px 7px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.2rem;
}

.board_created_at {
    text-align: right;
    color: #888;
}

.detail_content{
    border: 1.8px solid rgba(128, 128, 128, 0.4);
    min-height: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px 0;
    padding: 10px;
}
.detail_content img{
    width: 100%;
    height: auto;    
}
.detail_comment {
    margin-bottom: 100px;
}
.detail_comment ul li{
    border-bottom: 1px solid black;
}
.comment_bottom{
    border-bottom: 1px solid black;
    margin-top: 50px;
}
.detail_comment_insert{
    margin: 25px 0;
}
.detail_comment_insert_complete{
    font-size: 1.2rem;
    height: 80px;
    width: 9%;
    border: 1px solid black;
    background-color: #e0e0e0;
    border-radius: 5px;
    min-width: 60px;
}
.detail_comment_insert_complete:hover {
    background-color: rgb(255, 226, 163);
    transition: 0.2s;
}
li{
    list-style-type: none;
}
.detail_comment ul {
    background-color: #F9F9F9;
}
.comment_modal_content {
    display: inline-block;
    position: absolute;
    width: 300px;
    
    line-height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.detail_report{font-size: 28px;
    font-weight: bold;
    cursor: pointer;}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* -------- insert board -------- */

.insert_main{
    width: 70vW;
    margin: 50px auto;      
    ;
}
.insert_hidden_container{
    margin: 10px;
}
/* .detail_form {
    margin-bottom: 20px;
} */
.insert_container{ 
    margin: 20px auto;  
    border-radius: 5px; 
    background-color: white;
    border: 0.5px solid #c5c5c5;
}
.insert_img {
    margin: 10px;
    gap: 10px;
    text-align: center;   
    width: 70px;
    height:auto;
    display: inline-block;
}
.insert_img_div{
    width: 100vW;
}
.insert_img>img{    
    width: 100%;
    height: auto; 
    cursor: pointer;    
}

.image-box {
    width: 150px;
    display: inline-block;
}
.image-box>img{
    width: 100%;
}

.image-btn {
    padding: 20px;
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.img-button-cursor {
    cursor: pointer;
}

.insert_select_container{
    margin: 0px auto;
    padding: 10px;
    width:100%;    
    border-bottom:solid black 1px;    
}
.insert_select{
    border: none;
    background-color: rgba(128, 128, 128, 0) ;
    cursor: pointer;
}
 .insert_input_container,.insert_textarea_container{
    
    padding: 20px;
    width:100%;    
}
.insert_input{
    width:100%;   
    min-height: 30px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    
}
.insert_textarea{
    width:100%;
    min-height: 300px;  
    padding: 10px;  
    border: none;
}
.insert_hashtag_container{    
    padding: 10px;
    min-height: 50px; 
    border: 1px solid black;
    border-left: none;
    border-right: none;   
}
#hiddenHashtags{
    padding: 10px;
    width: 60vw;
    margin: auto;
}
.tag {
    cursor: pointer;
}
.tag{
    border-radius: 5px;
    padding: 3px 7px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    display: inline-block;
}

.selected-tag {
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 3px 7px;
    display: inline-block;
    margin-right: 3px;
    width: auto;
    height: 30px;
    cursor: pointer;
}
.tag:hover {
    background-color: #ffa869;
}
.insert_hashtag{
    width:100%;  
    min-height: 30px;    
    padding: 10px;
}
.insert_bottom_button{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,90px);   
    margin: 0px auto;  
}
.insert_bottom_button>p{
    text-align: center;
}
.insert_btn,.insert_btn_cancle{
    border: 1px solid rgba(128, 128, 128, 0.369);
    width: 100%;
    /* margin: 0 10px; */
    height: 40px;
    border-radius: 5px;
    background-color: white;
}
.insert_btn:hover{
    background-color: #ff9950;
}
.label_hashtag{
    color: rgba(128, 128, 128, 0.369) ;
}
.category-item {
    cursor: pointer;
}


/* ---------커뮤니티------------------ */
.slider-container {    
    margin: 30px auto;
}

.community_headline{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}

.slider {    
    margin: 20px ;    
    /* transition: transform 2s ease-in-out;  */
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 
    gap: 15px;
    margin-bottom: 80px;
}

.slide {
    padding: 20px;
    min-width: 240px;       
    border: 1px solid #848484;
    border-radius: 20px;
    margin: 6.5px;
    scroll-snap-align: start;
    height: 285px;
    box-shadow: 0px 3px 5px 3px rgba(196, 196, 196, 0.6);
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 200px 30px;
    align-content: space-between;
    max-width: 240px;
}
.hot-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 10px;
    overflow: hidden;  
    display: -webkit-box;   
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
    
}
.hot-content {
    font-size: 1.2rem;
    margin-bottom: 10px;
    overflow: hidden;  
    display: -webkit-box;   
    -webkit-line-clamp: 5;  
    -webkit-box-orient: vertical;
    
}
.hot-info {
    color: #9a9a9a;
}
.slider::-webkit-scrollbar {
    margin-top: 50px;
}

.slider::-webkit-scrollbar-thumb {
    background: rgb(255, 186, 152); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
    background-clip: padding-box;
    border: 2px solid transparent;
}

.slider::-webkit-scrollbar-track {
    background: rgba(191, 189, 188, 0.1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.favorite_slider-container::-webkit-scrollbar {
    margin-top: 50px;
}

.favorite_slider-container::-webkit-scrollbar-thumb {
    background: rgb(255, 186, 152); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
    background-clip: padding-box;
    border: 2px solid transparent;
}

.favorite_slider-container::-webkit-scrollbar-track {
    background: rgba(191, 189, 188, 0.1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}
.community-home-title {
    font-size: 1.1rem;
    font-weight: 800;
    margin: 10px 10px 5px 10px;
    /* width: 200px; */
}
.community-home-content {
    margin: 0 10px 6px 10px;
    overflow: hidden;
    max-height: 62px;
    color: #5a5a5a;
    /* width: 200px; */
    font-size: 0.9rem;
}

.spantag-span-display-block {
    /* display: inline-block; */
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}

/* .spantag-span-display-block span {
    display: block;
} */

.favorite_slider-container {
    margin: 30px auto;
    width: 60vW;   
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    margin-bottom: 80px;
}
.favorite_slider {
    display: flex;
    margin-bottom: 20px;
}

.favorite_slide {
    min-width: 48%;       
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    margin: 13px;    
    background-color: rgba(255, 153, 0, 0.2);
    padding: 10px;
}

.favoriteboard-favorite-tag {
    display: inline-block;
    background-color: #FFF0E6;
    margin: 20px 0 5px 0;
    border-radius: 20%;
    font-size: 1.1rem;
    font-family: 'GangwonEdu_OTFBoldA';
}
/* .slider-container::-webkit-scrollbar {
    width: 12px; 
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; 
    border-radius: 6px; 
}

.slider-container::-webkit-scrollbar-track {
    background-color: #f6f6f6; 
} */
/* .favorite_slider-container::-webkit-scrollbar {
    width: 12px; 
}

.favorite_slider-container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; 
    border-radius: 6px; 
}

.favorite_slider-container::-webkit-scrollbar-track {
    background-color: #f6f6f6; 
} */

.favorite_slide .favorite_slide-name {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.community-category-title {
    font-size: 1.1rem;
    font-weight: 800;
}
.community_pandemic_content{    
    margin: 10px auto;
    /* padding: 10px; */
    text-overflow: ellipsis;
    overflow: hidden;  
    display: -webkit-box;   
    -webkit-line-clamp: 6;  
    -webkit-box-orient: vertical;
    max-height: 6em;      
    white-space: normal;
    margin: auto 20px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: 'GangwonEdu_OTFBoldA';
}
.community_bottom{
    display: flex;
    justify-content: space-between;          
}

.community_tag_hidden{
    margin-bottom:50px ;
    width: 100vw;
}

.board-bc-gray {
    background-color: #efefef;
    padding-top: 1px;
    padding-bottom: 10px;
}

.community_tag_container{
    /* width: 60vw; */
    margin: 0 auto;
    margin-top: 50px;
}
.community-favorite-show {
    margin: 20px 0 10px 20px;
}
.community_tag {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    margin-top: 10px;
}
.community_tag > a {
    border-radius: 10px;
    padding: 10px;
    /* width:98%;    */
    text-overflow: ellipsis;
    overflow: hidden;  
    display: -webkit-box;   
    -webkit-line-clamp: 6;  
    -webkit-box-orient: vertical;
    white-space: normal;  
    background-color: #fff;
    height: 160px;
    border: 2px solid #E8E8E8;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 77% 23%;
    grid-template-rows: 25px 125px;
    box-sizing: content-box;
}
.community_tag > a > span:nth-child(1) {
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.community-favoritetag-list span {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3rem;
    border-bottom: 1px solid #4CAF50;
}
.community_tag > a > div > span {
    font-family: 'GangwonEdu_OTFBoldA';
    background-color: #EAEAEA;
    padding: 3px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #7A7A7A;
    text-align: center;
}
.community-fav-board-tag {
    margin-left: 10px;
    /* height: 25px; */
    overflow: hidden;
    grid-column-start: 1;
    /* grid-column-end: 3; */
}
.bordergo-hover a:hover {
    background-color:  rgba(245, 241, 238, 0.6);
}

a .a-bordergo-hover:hover {
    background-color: rgba(243, 243, 243, 0.6);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.border-line-color-gray > a {
    border: 1px solid #d0d0d0;;
}

.community_more_container{
    text-align: center;
}
.community_more {
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    height: 65px;
    margin-bottom: 25px;
    width: 98%;
}
.community_more:hover {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.community_icon{
    border-radius: 50%;
    background-color: #ff9950;
    width: 50px;
    height: 50px;
}
.community_a{
    position: fixed;
    bottom: 130px;
    right: 20px;
    background-color: #ff9950;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;            
}

.favorite-tag-board-in {
    background-color: #FFF0E6;
    margin: 5px 0;
    border-radius: 20%;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.3rem;
}

.community_aplus{
    position: fixed;
    bottom: 90px;
    right: 90px;
    background-color: #ff9950;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;         
}
.community_a:hover, .community_aplus:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cate_btn_go {
    border: 1px solid rgba(128, 128, 128, 0.369);   
    width: 100px;
    margin: 0 10px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    line-height: 50px;
}
.dropdown {
    display: inline-block;
    position: relative;
} 
.category_font_hover:hover {
    font-weight: 900;
    color: #FF9900;
}
/* .dropdown-content div:a {
    background-color: #4CAF50;
} */
.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 210px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
} 

.cate_btn {
    cursor: pointer;
}
.dropdown-content div {
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 20px;
} 

.cate_btn_go:hover {
    background-color: #FF9900;
}

.dropdown-content form div:nth-child(1) {
    background-color: #ff3939;
}

.show {
    display: block;
    width: 30%;
}


#addImageIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경을 어둡게 만들어줌 */
}

.detail_form-flex {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 300px;
    text-align: center;
    line-height: 100px;
}

/* 확인, 취소 버튼 스타일 (예시에 맞게 수정 가능) */
#confirmDelete,
#cancelDelete {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#cancelDelete {
    background-color: #f44336;
    margin-left: 10px;
}
.commentDeleteBtn {
    cursor: pointer;
}

.board-mouse-cursor {
    cursor: pointer;
}
.board-mouse-cursor:hover {
    background-color: #c5c5c5;
}

.confirmCommentDeleteModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.confirmCommentDeleteModal button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.confirmCommentDeleteModal button.confirm {
    background-color: #ff9950;
    color: white;
    border: none;
}

.confirmCommentDeleteModal button.cancel {
    background-color: #ccc;
    color: white;
    border: none;
}

.detail-board-created {
    font-size: 1rem;
    margin-left: 10px;
    color: #888;
    display: inline-block;
    margin: 10px 0 0 20px;
}

.detail-board-name {
    margin-top: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
} 
.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 0;
    text-decoration: none;
    
}
.page_pre{
    width: 59px;
    text-align: center;
}
.pagination a:hover,
.pagination span:hover {
     /* 호버 시 배경색 변경 */
    color: #FF9900; /* 호버 시 글자색 변경 (예시로 검은색으로 지정) */
}
.pagination-current{
    color:rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FF9900;
    font-weight: 900;
    margin-right: 5px;
    text-align: center;
}
.pagination-link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e4e4e4;
    margin-right: 5px;
    text-align: center;
}

/* ---------------------------- */
.community-home-board-img-span {
    position: relative;
    float: right;
    grid-column-start: 2;
    grid-row-start: 2;
}

.community-home-board-img {
    width: 90px;
}

.community-trend-disease {
    margin-top: 10px;
    margin-left: 20px;
}

.community-main-container {
    width: 70vw;
    margin: 0 auto;
}

/* 캐러셸 */




/* 미디어쿼리 */
@media only screen and (min-width: 1050px) {
    .community_icon {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .slider-container {
        width: 80vw;        
    }
    .favorite_slider-container{
        width: 80vw;
    }   
    .community_tag_container{
        width: 100vw;
        margin: 0 auto;
    }
    .insert_container {
        width: 100vw; 
        border:none; 
        margin: 10px 0 0 0;      
    }
    .insert_main{
        margin: 20px auto 100px auto;
        width: 100vw;
    }
    #hiddenHashtags {
        width: 100vw;
    }
    /* .last_container {
        width: 80vw;
    } */
    .last_container2 {
        width: 85vw;
    }
    .last_main{
        width: 95vw;
    }
    .favorite_slider {
        display: flex;   
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        flex-direction: column;
    }
    .insert_input_container{
        width: 100vw;
    }
    
    .insert_select_container{
        width: 100vw;
        border:solid black 1px ;
        border-left: none;
        border-right: none;
    }
    
    .insert_select{
        border: none;
    }
    .insert_input_container,.insert_textarea_container{
        margin: 0 auto;    
        width:100vw;  
        padding: 0px;  
    }
    .insert_input{
        width:100vw;   
        min-height: 30px;
        padding: 10px;
        
        border: none;
    }
    .insert_textarea{
        width:100vw;
        min-height: 300px;       
        border: none;
        padding: 10px;
    }  
    .insert_hashtag_container{          
        width:100vw;          
    }  
    .insert_bottom_button {
        width: 100vw;
    }
    .insert_hashtag{
        width:100vw;  
        min-height: 30px;       
        border: none;
        padding: 10px;        
    }
    #toggleHashtagsBtn{
        min-height: 50px; 
    }
    .pagination{
        margin-bottom: 75px;
    }
    .community_tag {
        margin-bottom: 15px;
        grid-template-columns: 1fr;
    }

        
    .community-main-container {
        width: 100vw;
    }
}

@media only screen and (max-width: 950px) {
    .detail_comment_insert form {
        max-width: 100%;
    }
    .comment_content {
        width: 98%;
        height: 80px;
    }
    .detail_comment_insert form {
        display: grid;
        grid-template-columns: 1fr 60px;
    }
}
@media only screen and (max-width: 850px) {
    .slider-container {
        width: 100vw;
    }
    .favorite_slider-container{
        width: 100vw;
    }   
    .community_tag_container{
        width: 100vw;
        margin: 50px auto 50px;
    }
    .last-board-title {
        font-size: 1.4rem;
    }
    .detail_board_content{
        width: 50%;
    }
    .board_nic_text {
        display: block;
        display: flex;
        flex-direction: column-reverse;
        margin: 3px 0 0 10px;

    }
    .board_nic_text .detail-board-created {
        display: flex;
        justify-content: flex-end;
    }
    .last_user img {
        margin-top: 7px;
    }
    .detail-comments-flex {
        display: flex;
        justify-content: flex-end;
    }
    .last_user {
        margin-top: 5px;
        align-items: start;
    }
    .last_user .community_icon{
        margin-top: 5px;
    }
    .community_aplus{
        bottom: 90px;
        right: 32px;
        width: 60px;
        height: 60px;
    }
    
    .detail_board_hits{
        margin-top: 4px;
        font-size: 0.8rem;
        font-weight: normal;
        display: inline-block;
        margin-right: 10px;
    }
    .detail-board-created {
        font-size: 0.8rem;
        margin-left: 10px;
        color: #888;
        display: inline-block;
        margin: 10px 0 0 20px;
    }
    .pagination a, .pagination span {
        display: inline-block;
        padding: 8px 0;
        text-decoration: none;
    }
    .page_pre{
        width: 59px; 
        text-align: center;      
    }
    .community_tag > a {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        white-space: normal;
        background-color: #fff;
        height: 160px;
        border: 2px solid #E8E8E8;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 25px 90px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .insert_btn_cancle{
        display: none;
    }
    
    .community-main-container {
        margin: 0;
    }
    .show {
        display: block;
        width: 100%;
    }
}



@media only screen and (min-width: 851px) {
    .board_nic_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }
    .community_tag {
        margin: 10px 5px 15px 5px;
    }
}

