* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: black;
	text-decoration: none;
}

.container {
	width: 70vw;
	margin: 0 auto;
}

.container-category {
	background-color: #F8F8F8;
}

.div-margin {
	margin: 10px;
}

.div-padding {
	padding: 20px;
	margin-top: 50px;
}

.btn-img {
	width: 10vw;
}

.div-display-lnlineBlock {
	display: inline-block;
}

.display-flex {
	display: flex;
	justify-content: space-between;
}

.font-weight {
	font-size: 1.2rem;
	font-weight: 900;
}

.font-small {
	font-size: 0.6rem;
}

.font-color {
	color: #FF9900;
}

.display-flex-center {
	display: flex;
	align-items: center;
}

.display-flex-around {
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width:700px) {
	.display-none {
		display: none;
	}
	.display-flex-center {
		display: inline-block;
		margin: 0 auto;
	}
	.container {
		width: 100vw;
	}
}

.text-center {
	text-align: center;
	color: #2C2B71;
	font-weight: 900;
}

.bc-purple {
	background-color: #F2EFF6;
}

.text-part {
	background-color: #2C2B71;
	border-radius: 10px;
	padding: 5px;
	color: #fff;
}