/* ----------------------mypage main------------------- */

.mypage-myProfile {
    margin: 50px 0;
    display: flex;
}
.mypage-myProfile-img {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.mypage-myProfile-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.mypage-myProfile-btn-name {
    font-size: 1.6rem;
    color: #FF9900;
    font-weight: 800;
    margin-left: 20px
}
.mypage-main-btn img{
    height: 30px;
    margin-left: 15px;
}
.mypage-main-btn {
    background-color: #FCFCFC;
    padding: 15px 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.mypage-main-btn:hover {
    background-color: #DEDEDE;
    transition: 0.2s;
    cursor: pointer;
}
.mypage-gap {
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 35px 0;
    width: 100%;
}
.mypage-main-btn-name {
    display: inline-block;
    margin-left: 10px;
}
.mypage-logout {
    text-align: center;
    margin-top: 100px;
    color: #FF9900;
}
.mypage-hashtag-click {
    cursor: pointer;
}
.mypage-display-none {
    display: none;
}



/* 해시태그 영역 */
.mypage-hashtag-search-form {
    width: 100%;
    margin-top: 50px;
}
.mypage-hashtag-search-div {
    margin: 0 20px;
    border: 1px solid #D6D6D6;
    border-radius: 35px;
    display: flex;
    position: relative;
}
.mypage-hashtag-search-form input {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 35px;
    padding-left: 30px;
    padding-right: 60px;
    font-size: 1.2rem;
    font-weight: 700;
}
.mypage-hashtag-search-form input:focus {
    background-color: #FFF8DC;
}
.mypage-hashtag-search {
    position: absolute;
    right: 10px;
    right: 18px;
    top: 12px;
}
.mypage-hashtag-search img {
    width: 30px;
}
.mypage-myHashtag {
    margin: 50px 20px 0 20px;
    margin-bottom: 20px;
}
.mypage-myHashtag img {
    width: 20px;
    margin-right: 20px;
}
.mypage-myHashtag-div {
    height: 57px;
    background: #E4E4E4;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.mypage-myHashtag-div div {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 1.2rem;
}
.mypage-can-get-all-tag {
    margin-top: 40px;
}
.mypage-can-get-all-tag-msg {
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #767676;
    padding-bottom: 13px;
    border-bottom: 1px solid #B9B9B9;
}
.mypage-can-get-all-tag-msg img{
    height: 30px;
    margin-left: 15px;
}
.mypage-board-tag .mypage-board-first-line span {
    background-color: #EAEAEA;
    padding: 3px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #7A7A7A;
}
.mypage-board-tag {
    display: grid;
    grid-template-columns: 1fr 82px;
    align-items: center;
    overflow-x: hidden;
}
.mypage-myboard-date {
    color: #ABABAB;
    font-size: 0.9rem;
}
.mypage-board-img {
    width: 80px;
}
.mypage-board-first-line {
    grid-column: span 1;
    min-width: 0;
}
.mypage-comment-area {
    display: grid;
    grid-template-columns: 1fr 82px;
}
.mypage-comment-boardTitle {
    color: #ABABAB;
    font-size: 0.9rem;
}
.mypage-myComment {
    font-size: 1.1rem;
    font-weight: 700;
}
.mypage-myComment-date {
    color: #ABABAB;
    font-size: 0.9rem;
}