/* ----------------------mypage main------------------- */

.mypage-myProfile {
    margin: 50px 0;
    display: flex;
}
.mypage-myProfile img{
    width: 120px;
    border-radius: 50%;
}
.mypage-myProfile-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.mypage-myProfile-btn-name {
    font-size: 1.6rem;
    color: #FF9900;
    font-weight: 800;
    margin-left: 20px
}
.mypage-main-btn img{
    height: 30px;
    margin-left: 15px;
}
.mypage-main-btn {
    background-color: #FCFCFC;
    padding: 15px 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.mypage-main-btn:hover {
    background-color: #dedede;
    transition: 0.2s;
    cursor: pointer;
}
.mypage-gap {
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 35px 0;
    width: 100%;
}
.mypage-main-btn-name {
    display: inline-block;
    margin-left: 10px;
}
.mypage-logout {
    text-align: center;
    margin-top: 100px;
    color: #FF9900;
}

.mypage-hashtag-click {
    cursor: pointer;
}

.mypage-display-none {
    display: none;
}



/* 해시태그 영역 */
.mypage-hashtag-search-form {
    width: 100%;
}
.mypage-hashtag-search-div {
    margin: 0 20px;
    border: 1px solid #d6d6d6;
    border-radius: 35px;
    display: flex;
    position: relative;
}
.mypage-hashtag-search-form input {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 35px;
    padding-left: 30px;
    padding-right: 60px;
    font-size: 1.2rem;
    font-weight: 700;
}
.mypage-hashtag-search-form input:focus {
    background-color: #FFF8DC;
}
.mypage-hashtag-search {
    position: absolute;
    right: 10px;
    right: 18px;
    top: 12px;
}
.mypage-hashtag-search img {
    width: 30px;
}
.mypage-myHashtag {
    width: 100%;
    margin: 0 20px;
    border: 1px solid #E9E9E9;
}
.mypage-myHashtag img {
    width: 20px;
}