/* ----------------------mypage main------------------- */

.mypage-myProfile {
    margin: 100px 0;
}
.mypage-myProfile-img {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.mypage-myProfile-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    max-width: 90%;
    width: 400px;
}
.mypage-myProfile-btn:hover {
    border-radius: 40px;
    background-color: #f4f4f4;
    cursor: pointer;
}
.mypage-myProfile-btn-name {
    font-size: 1.6rem;
    color: #FF9900;
    font-weight: 800;
    margin-left: 20px
}

.mypage-main {
    width: 70vw;
    margin: 0 auto;
}

.mypage-main-btn img{
    height: 30px;
    margin-left: 15px;
}
.mypage-main-btn {
    background-color: #FCFCFC;
    padding: 15px 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.mypage-main-btn:hover {
    background-color: #DEDEDE;
    transition: 0.2s;
    cursor: pointer;
}
.mypage-gap {
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 35px 0;
    width: 100%;
}
.mypage-main-btn-name {
    display: inline-block;
    margin-left: 10px;
}
.mypage-logout {
    text-align: center;
    margin: 130px 0;
    color: #ea9008;
    cursor: pointer;
}
.mypage-logout a {
    color: #ea9008;
}
.mypage-hashtag-click {
    cursor: pointer;
}



/* 해시태그 영역 */
.mypage-hashtag-display {
    margin-bottom: 150px;
}
.mypage-hashtag-search-form {
    width: 100%;
    margin-top: 50px;
}
.mypage-hashtag-search-div {
    margin: 0 20px;
    border: 1px solid #D6D6D6;
    border-radius: 35px;
    display: flex;
    position: relative;
}
.mypage-hashtag-search-form input {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 35px;
    padding-left: 30px;
    padding-right: 60px;
    font-size: 1.2rem;
    font-weight: 700;
}
.mypage-hashtag-search-form input:focus {
    background-color: #FFF8DC;
}
.mypage-hashtag-search {
    position: absolute;
    right: 10px;
    right: 18px;
    top: 12px;
}
.mypage-hashtag-search img {
    width: 30px;
}
.mypage-myHashtag {
    margin: 50px 20px 0 20px;
    margin-bottom: 20px;
}
.mypage-myHashtag img {
    width: 20px;
    margin-right: 20px;
}
.mypage-myHashtag-div {
    height: 57px;
    background: #E4E4E4;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.mypage-myHashtag-div div {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 1.2rem;
}
.mypage-can-get-all-tag {
    margin-top: 40px;
}
.mypage-can-get-all-tag-msg {
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #767676;
    padding-bottom: 13px;
    border-bottom: 1px solid #B9B9B9;
}
#searchHashResult div {
    margin-top: 20px;
    background-color: rgb(255 198 173);
    cursor: pointer;
}
#searchHashResult div:hover {
    background-color: rgb(255, 185, 94);
}

/* 나의 게시글 댓글 */
.tab-contents .community_tag
,.tab-contents2 .community_tag {
    margin-bottom: 100px;
}
.mypage-can-get-all-tag-msg img{
    height: 30px;
    margin-left: 15px;
}
.mypage-board-tag .mypage-board-first-line span {
    background-color: #EAEAEA;
    padding: 3px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #7A7A7A;
}
.mypage-board-tag {
    display: grid;
    grid-template-columns: 1fr 82px;
    align-items: center;
    overflow-x: hidden;
    width: 125%;
}
.mypage-myboard-date {
    color: #ABABAB;
    font-size: 0.9rem;
}
.community-home-board-img-span {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}
.mypage-board-img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 15px;
}
.mypage-board-first-line {
    grid-column: span 1;
    min-width: 0;
    margin-right: 25px;
}
.mypage-comment-area {
    display: grid;
    grid-template-columns: 1fr 82px;
    width: 135%;
}
.mypage-comment-boardTitle {
    color: #ABABAB;
    font-size: 0.95rem;
}
.mypage-myComment {
    font-size: 1.1rem;
    font-weight: 700;
    grid-column-start: 1;
}
.mypage-myComment-date {
    color: #ABABAB;
    font-size: 0.9rem;
    grid-column-start: 1;
}
.tab-contents2 .community_tag a {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    gap: 10px;
    padding: 10px 20px;
}
.mypage-comment-categoryName {
    grid-column-start: 2;
}
.mypage-profile-div {
    display: grid;
    grid-template-columns: 160px 160px;
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
}
.profile-photo-btn {
    margin-bottom: 20px;
}
.user-info-modify-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.margin-bottom-200 {
    margin-bottom: 200px;
}
.password-pass-main-div {
    margin: 0 auto;
    max-width: 700px;
    /* margin-top: 250px; */
    background-color: #f8f8f8;
    padding: 15px;
    width: 95%;
}
.password-pass-main-div .mypage-btn {
    margin-top: 47px;
    float: right;
}
.password-pass-main-div .mypage-info-label {
    margin-top: 0;
}
.mypage-change-password-errorMsg {
    margin-left: 13px;
    color: #ea9008;
}
.mypage-password-second-grid {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.password-pass {
    outline: none;
    border: none;
    width: 100%;
    height: 65px;
    background-color: #fffdf9;
    border: 0.5px solid #767676;
    padding-left: 20px;
}
.password-pass:focus {
    background-color: #fffdf9;
    color: #f09309;
}
.password-pass-main-div input::placeholder {
    color: #727272; /* 원하는 색상으로 변경하세요 */
}
.mypage-account-delete {
    color: #ff5100;
}
.mypage-byebye {
    /* background-image: url(/img/byebye.jpg); */
    background-position: center center;
    /* width: 100vw; */
    height: 500px;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    align-items: center;
    margin-bottom: 200px;
}



/* 회원탈퇴 화면 */
.see-you-then {
    color: #0088ff;
    display: flex;
    align-items: center;
    height: 100vw;
    flex-direction: column;
    justify-content: center;
}
/* 비밀번호 변경 */
.mypage-change-password {
    margin-top: 100px;
    width: 100vw;
    height: 500px;
    display: grid;
    align-items: center;
}
.mypage-change-password-msg {
    margin-left: 13px;
    color: #5c5c5c;
}
.mypage-nodata {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}


@media only screen and (max-width: 800px) {
    .mypage-main {
        width: 100vw;
        margin: 0 auto;
    }
    .mypage-password-second-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .password-pass-main-div {
        margin: 0;
        margin-bottom: 20px;
    }
    .mypage-password-second-grid .mypage-info-label {
        margin-top: 20px;
    }
}

/* display none */
.mypage-display-none {
    display: none;
}
@media only screen and (min-width: 850px) {
    .mypage-comment-area {
        width: 100%;
    }
    .mypage-board-img {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 10px;
    }
}