
.timelinemain { 
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    display: flex;
    grid-gap: 30px;
    margin-top: 30px;
    position: relative;
    flex-direction: column;
    align-items: center;
    } 
.mypage-first {
    display: grid;
    justify-content: center;
    position: relative;
}

.maincalendar {
    background-color : white;
    height: auto;
    width: 400px;
    margin: 0px;
    padding: 20px;
    margin: 0 auto;
    border-radius:5px;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1;
    left: -75%;
    top: 50%;
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

.pastDay {
    color: lightgray;
}

.today {
    background-color: #ffa459;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #F5D042; 
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.calendarNone {
    display: none;
}
.calendarBtn {
    padding: 5px 10px;
    color: #ffa459;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    /* position: relative; */
}
.mypage-second {
    display: inline-block;
}
.block-mypage {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 105%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    font-size: 2rem;
}

/* 날짜별 */
.mypage-second {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    white-space:nowrap;
    overflow-x: scroll;
    /* 넘치는거 삭제 */
    -ms-overflow-style: none;
}
.mypage-second-margin {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 30px;
}

.mypage-second::-webkit-scrollbar {
    margin-top: 50px;
    width: 10px;
}

.mypage-second::-webkit-scrollbar-thumb {
    background: rgb(245, 196, 171); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
    background-clip: padding-box;
    border: 2px solid transparent;
}

.mypage-second::-webkit-scrollbar-track {
    background: rgba(191, 189, 188, 0.1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.datebar {
    /* background-color: #F6F6F6; */
    border: 1px solid #eeeeee;;
    border-radius: 10px;
    height: 120px;
    width: 65px;
    width: 110px;
    grid-row: 1;
    display: block;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.datebar:hover {
    background-color: rgba(224, 224, 224, 0.3);
    
}
.datebar > span {
    margin: 5px 0;
}
.datebardayselect {
    background-color: rgba(247, 240, 193, 0.3);
    color: rgb(0, 149, 223);
    font-weight: 900;
}
.datebartoday {
    background-color: rgba(255, 201, 120, 0.5);
    color: #f15500;
    font-weight: 900;
}

@media screen and (max-width: 800px) {
    /* 임시 - 수정예정 */
    #timelineMain {
        overflow: hidden;
    }
    .mypage-second {
        width: 100%;
    }
    .mypage-first {
        display: flex;
        position: relative;
        align-items: stretch;
        justify-content: center;
    }
    /* 스크롤바 삭제 */
    .mypage-second::-webkit-scrollbar{
        display:none;
    }
    .datebar {
        border: 1px solid #eeeeee;;
        border-radius: 10px;
        height: 120px;
        width: 70px;
        grid-row: 1;
        display: block;
        font-weight: 400;
        display: flex;
        flex-direction: column;
    }
}

/*  유저 검색기록 */
.notice-no-data {
    display: none;
}
.mypage-third {
    margin-bottom: 100px;
    width: 40%;
    min-width: 600px;
}
.recordsection {
    width: 90%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 20px 0;
    margin: 30px auto 0 auto;
}
.user-record:hover {
    background: #bfbfbf;
}
.user-record {
    width: 100%;
    height: 110px;
    background-color: #F6F6F6;
    border-radius: 20px;
    display: inline-block;
    padding-top: 20px;
    position: relative;
}
.record-circle-img {
    width: 20px;
}
.recordtext {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 5px;
    display: block;
}
.none-recordtext {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.5rem;
}
.record-time {
    margin-left: 40px;
    font-size: 1.0rem;
    color: #9A9A9A;
}
.record-delete-btn {
    font-size: 2rem;
    position: absolute;
    right: 20px;
    border: 0;
    top: 10px;
    background-color: transparent;
    cursor: pointer;
}

/* 타임라인 검색기록 삭제 모달 */
.mypage-fourth {
    display: none;
}

#recordDeleteModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.mypage-delete-modal {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.record-delete-cancel {
    padding: 15px 17%;
    border-radius: 15px;
    border: 0.5px solid #C5C5C5;
    background-color: #fff;
    display: inline-block;
    display: inline-block;
    cursor: pointer;
}
.record-delete-cancel:hover {
    background-color: rgb(217, 217, 217);
}
.record-delete-ok:hover {
    background-color: rgb(190, 46, 17)
}
.record-delete-ok {
    padding: 15px 17%;
    border-radius: 15px;
    border: 0.5px solid #C5C5C5;
    background-color: #FF9900;
    display: inline-block;
    cursor: pointer;
}

.delete-message {
    padding: 30px 0 20px 0;
    font-weight: 600;
}

/* 마이페이지 */

/* 마이페이지 그리드 */
.tab_list {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}
.mypage-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 49vw 21vw;
    justify-items: center;
    margin: 70px auto;
}
.mypage-content, .mypage-content2 {
    border-radius: 8px;
    width: 100%;
    /* background-color: #f5f5f5; */
}
.mypage-content2 {
    display: none;
}
.mypage-board-date {
    margin-left: 13px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    font-size: 0.9rem;
    width: 100vw;
}
.mypage-boardbox {
    border-radius: 8px;
    border: 1px solid #C5C5C5;
    width: 370px;
    height: 190px;
    box-shadow: 0px 0px 5px 3px rgb(196, 196, 196, 0.3);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-contents {
    margin: 0 auto;
}

.mypage-boards-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 35px;
}
.mypage-boards-part .mypage-boardbox:hover {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(172, 145, 229);
}
.mypage-bord-title {
    padding: 0 13px 15px 13px;
    font-size: 1.3rem;
    font-weight: 800;
    margin: 7px 0;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.mypage-bord-detailbox {
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    font-size: 1.1rem;
    padding: 15px;
}
.mpb-modify {
    margin-bottom: 30px;
}
.mypage-btn {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    margin-top: 40px;
    cursor: pointer;
}
.mypage-btn-plus {
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ff9950;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
}
.mypage-btn2, .favorite-tag-plus {
    width: 310px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.mypage-mainbar {
    display: grid;
    grid-template-rows: 200px 1fr;
    justify-content: center;
    justify-items: center;
    max-width: 400px;
    margin: 0 auto;
}
.mypage-btn-line {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    margin-bottom: 8px;
}
.mypage-btn-line2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.mypage-btn-plus2  {
    background-color: #FF9900;
    border-radius: 40px;
    margin-bottom: 20px;
}
.mypage-btn:hover, .mypage-btn2:hover {
    background-color: #dedede;
    border: 1px solid #dedede;
}

.favorite-tag-plus {
    background-color: #FF9900;
    margin: 30px auto;
}
.mypage-comment-show-btn {
    display: inline-block;
    width: 22.5vw;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    margin-left: 0.2vw;
}
.mypage-board-show-btn  {
    display: inline-block;
    width: 45%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px ;
}
.mypage-comment-show-btn:hover, .mypage-board-show-btn:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
    font-weight: 900;
    color: #FF9900;
}
.mypage-comment-show-btn:active, .mypage-board-show-btn:active,
.mypage-comment-show-btn:focus, .mypage-board-show-btn:focus {
    background-color: #f5f5f5;
    color: #9d46fa;
    font-weight: 900;
    border-radius: 10px;
}
.active {
    background-color: #f5f5f5;
    color: #FF9900;
    font-weight: 900;
    border-radius: 10px;
}
.tab-active {
    background-color: #f5f5f5;
    color: #FF9900;
    font-weight: 900;
    border-radius: 10px;
}

[data-order="1"] {
    display: none;
}
[data-order="2"] {
    display: none;
}
[data-order="3"] {
    display: none;
}
[data-order="4"] {
    display: none;
}
.tab-show {
    display: block;
}
.tab-show-modal {
    display: block;
}

.mypage-insert-btn {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 3vw;
    right: 40vw;
}
.mypage-boardbox-date {
    font-size: 0.9rem;
    color: #888;
}

/* 유저 정보 수정창 */

.User-info-modify {
    width: 90%;
    margin: auto;
}
.profile-photo-btn {
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
}
.user-info-btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FAFAFA;
    border: 1px solid #C5C5C5;
    display: inline-block;
    cursor: pointer;
}
.user-info-modify {
    margin: 15px auto;
    display: grid;
    justify-content: center;
}
.user-info-modify label{
    color: #f15500;
    font-weight: 700;
    margin: 15px 0 10px 5px;
    display: inline-block;
}
.user-info-modify .user-info-btn {
    color: #000000;
    font-weight: 400;
}
#UserInfoModify > .user-info-btn {
    margin-top: 0;
}
#UserInfoModify > input{
    height: 50px;
    width: 100%;
    font-size: 1rem;
}
.mypage-btn-line-modify > .mypage-btn {
    width: 145px;
}
.adress-box > .adress-box-a {
    height: 50px;
    font-size: 1rem;
    margin-bottom: 10px;
}
.adress-box > .adress-box-b {
    height: 50px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
}
.mypage-btn-line-modify {
    display: flex;
    justify-content: space-around;
}
.user-info-btn-chk {
    padding: 8px;
    border-radius: 10px;
    background-color: #FAFAFA;
    border: 1px solid #C5C5C5;
    cursor: pointer;
    float: right;
}
.user-info-modify input:focus {
    background-color: #FFF8DC;
}
.user-now-address {
    border: 1px solid #c8c8c8;
    padding: 10px;
    background-color: #fff;
    color: #ababab;
}
/* 박스 모달 */
.UserboardModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.tap_list {
    width: 100%;
}
.mypage-content-modal {
    width: 100vw;
    position: absolute;
    top: 15vw;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    overflow: scroll;
    overflow-y: hidden;
}
.mypage-content-modal {
    -ms-overflow-style: none;
}
.mypage-content-modal::-webkit-scrollbar{
    display:none;
}
.mypage-content-modal-block {
    display: none;
}
.mypage-modal-close-btn {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 20px 0 0 ;
}
.modal-board-show-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.mypage-boardbox-modal {
    border-radius: 8px;
    border: 1px solid #C5C5C5;
    width: 82vw;
    height: 190px;
    box-shadow: 0px 0px 5px 3px rgb(196, 196, 196, 0.3);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mypage-board-modal-btn, .mypage-comment-modal-btn {
    display: inline-block;
    width: 47vw;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    margin-left: 0.2vw;
}
.mypage-comment-modal-btn:hover, .mypage-board-modal-btn:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
    font-weight: 900;
    color: #FF9900;
}
.mypage-comment-modal-btn:active, .mypage-board-modal-btn:active,
.mypage-comment-modal-btn:focus, .mypage-board-modal-btn:focus {
    background-color: #f5f5f5;
    color: #f15500;
    font-weight: 900;
}
.mypage-boards-part2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100vw;
}
.mypagegohome {
    display: none;
}

/* 마이페이지용 헤더 그리드 */
.inmypageheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mypagegohome {
    margin-right: 10px;
}

/* 관심태그 목록 */
.mypage-hashtag-title  {
    margin-bottom: 15px;
}
.mypage-tag-title2 {
    margin: 30px;
}
.mypage-hashtag-title > img{
    width: 30px;
}
.notice-that-favorite-none {
    flex: 1;
    margin: 0;
    padding: 0;
}
.mypage-hashtag-title {
    font-weight: 600;
    font-size: 2rem;
}
.mypage-hashtag {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: center;
}
.mypage-hashtag > div {
    padding: 12px 20px;
    background-color: #EDEDED;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 8px 0;
    width: 130px;
    border-radius: 18px;
}
.mypage-hashtag > div:hover {
    background-color: rgb(248, 199, 124, 0.3);
}
.mypage-hashtag > div > span {
    cursor: pointer;
}


/* 마이페이지 미디어쿼리 */
@media screen and (min-width: 700px) {
    .UserboardModal {
        display: none;
    }
    .mypage-content-modal {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .maincalendar {
        left: -70%;
        width: 380px;
    }
    .mypage-third {
        margin-bottom: 100px;
        width: 100%;
        min-width: 380px;
    }
}

@media screen and (max-width: 1000px) {
    .mypagegohome {
        display: block;
    }
    .mypage-third {
        margin-bottom: 100px;
        width: 70%;
    }
    .mypage-board-show-btn {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .mypage-grid {
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .mypage-content, .mypage-boardbox, .mypage-date-today, .mypage-btn-plus, .mypage-insert-btn
    , .mypage-content, .mypage-board-show-btn, .mypage-comment-show-btn {
        display: none;
    }
}
@media screen and (max-width: 1500px) {
    .mypage-board-show-btn {
        /* width: 45%; */
    }
}